* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-red: red;
  --text-blue: blue;
  --text-gray: gray;
}

p {
  font-size: 24px;
  color: var(--text-gray);
}

li {
  background-color: aqua;
}

#list-1 {
  font-size: 30px;
}

.list-2 {
  font-size: 60px;
  font-weight: bolder;
}

li.list-3 {
  font-size: 90px;
}

div.box-1 {
  width: 80px;
  height: 80px;
  background-color: red;
}

div.box-2 {
  width: 80px;
  height: 80px;
  background-color: yellow;
}

div.box-1 > p {
  color: white;
  font-size: 60px;
}

div.box-2 > p {
  color: black;
  font-size: 60px;
  font-weight: bold;
}

div.box-3 {
  width: 80px;
  height: 100%;
  background-color: green;
}

div.box-3 > h1 {
  color: yellow;
}

div.box-3 > p {
  color: black;
  font-size: 60px;
}
